.button {
    font-size: 10px;
    padding: 7px 12px;
    font-weight: 500;
    background-color: #1e58ff;
    border: 2px solid #1e58ff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 20px -5px rgba(#818181, .9);
}